<div>
  <nav class="navbar navbar-expand bg-dark navbar-dark">
    <a href="#" class="navabr-brand">Sunbird</a>
    <div class="navbar-nav mr-auto">
      <li class="navbar-item">
        <a routerLink="topics" class="nav-link">All Topic</a>
      </li>
      <li class="navbar-item">
        <a routerLink="add-topic" class="nav-link">Add Topic</a>
      </li>
      <!-- <li class="navbar-item">
        <a routerLink="add-reply" class="nav-link">Add Reply</a>
      </li> -->
    </div>
  </nav>
  <div class="container mt-3">
    <router-outlet></router-outlet>
    <!-- <app-add-topic></app-add-topic> -->
  </div>
</div>
